<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/home">
        <nz-icon nzType="home" style="font-size: 28px;" />
        <span style="font-size: 25px">Home</span>
      </li>
      <li nz-submenu nzTitle="Customer" nzIcon="user">
        <ul>
          <li nz-menu-item>List customer</li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-container">
        <nz-icon
          class="trigger"
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        />

        <button nz-button nzType="text"
                (click)="logout()"
                class="btn-logout"> <nz-icon nzType="logout" nzTheme="outline"></nz-icon>
          Logout
        </button>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <!--            <nz-breadcrumb-item>User</nz-breadcrumb-item>-->
        <!--            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>-->
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
